<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>colorPicker</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Color Picker Plug-in</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ISPInstallPath</key>
			<string>~/Library/ColorPickers/</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.colorpicker</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qlgenerator</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Quick Look Generator</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ISPInstallPath</key>
			<string>~/Library/QuickLook/</string>
			<key>ISPPostflight</key>
			<string>restartQLManage</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.quicklook-generator</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>codesnippet</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Xcode Code Snippet</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ISPInstallPath</key>
			<string>~/Library/Developer/Xcode/UserData/CodeSnippets/</string>
			<key>ISPPreflight</key>
			<string>fixupCodesnippetFilename</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.codesnippet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dvtcolortheme</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Xcode Font and Color Theme</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ISPInstallPath</key>
			<string>~/Library/Developer/Xcode/UserData/FontAndColorThemes/</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.xcode.colortheme</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mailbundle</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mail Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ISPInstallPath</key>
			<string>~/Library/Mail/Bundles/</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mail.plugin</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>HappyMac</string>
	<key>CFBundleIdentifier</key>
	<string>im.n-b.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ISPHelpURL</key>
	<string>http://github.com/n-b</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Nicolas Bouilleaud. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.finder</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Color Picker Plug-in</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.colorpicker</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>colorPicker</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.finder</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.plugin</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Quick Look Generator</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.quicklook-generator</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qlgenerator</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.dt.Xcode</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode Code Snippet</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.codesnippet</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>codesnippet</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.dt.Xcode</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Xcode Font and Color Theme</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.xcode.colortheme</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dvtcolortheme</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.mail</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mail Plugin</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.mail.plugin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mailbundle</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
